<ion-view view-title="90Days">
  <ion-nav-buttons side="right">
    <button class="button button-icon-medium ion-plus" ng-controller="itemCtrl" ng-click="openAddItem()"></button>
  </ion-nav-buttons>
  <ion-content>
      <ion-list>
        <ion-item ng-repeat="item in items">
          {{item.title}}
      </ion-list>
      <button ng-controller="inAppCtrl" class="button button-full button-assertive" ng-click="openInAppBrowser()">
          Open In App Browser
      </button>
       <button ng-controller="inAppCtrl" class="button button-full button-assertive" ng-click="openCordovaWebView()">
          Open In Cordova Webview
      </button>
    </ion-content>
</ion-view>
