/* Empty. Add your own CSS if you like */
.mainHeader{
text-align: center;
}

.blackBG{
    color: #fff;
    background-color: black;
}

.scroll-content{
  background-color: #000;
}

.itemTitle{
    color: #fff;
}